VITE_CLERK_PUBLISHABLE_KEY=pk_test_aGFwcHktc2hlZXAtMjguY2xlcmsuYWNjb3VudHMuZGV2JA
VITE_SUPABASE_URL=https://xbidfuvynllzzduzcsjc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_2ZmgUU0IZ3obi03al2vPxw_th_fgQta

# Payment details shown to customers after submitting an order.
VITE_PAYMENT_CARD_NUMBER=4441 1111 3361 0240
VITE_PAYMENT_IBAN=UA063220010000026206360427520
