/* src/index.css */
:root {
  /* Фірмові кольори MELORIA */
  --color-bg-deep: #102346;     /* Глибокий синій */
  --color-text-silver: #D9DDE3; /* Срібний */

  /* Допоміжні кольори */
  --color-white: #ffffff;
  --color-dark: #0f172a;
  --color-gray: #64748b;
  --color-gray-light:#fff;

  --font-main: 'Inter', system-ui, -apple-system, sans-serif;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-gray-light);
  color: var(--color-dark);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body.menu-open {
  overflow: hidden;
  touch-action: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input {
  font: inherit;
}

img {
  max-width: 100%;
}
